In [1]:
import pyspark
from delta import *

builder = pyspark.sql.SparkSession.builder.appName("delta").master("spark://spark-master:7077") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .config("spark.sql.extensions","io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog","org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .config("spark.hadoop.fs.s3a.access.key","datalake") \
    .config("spark.hadoop.fs.s3a.secret.key","datalake") \
    .config("spark.hadoop.fs.s3a.endpoint","http://minio:9000") \
    .config("spark.hadoop.fs.s3a.path.style.access", "true") \
    .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem")

spark = configure_spark_with_delta_pip(builder).enableHiveSupport().getOrCreate()

In [2]:
spark

In [3]:
df = spark.read.csv("s3a://delta-lake/results.csv",header=True)

In [4]:
df = df.withColumnRenamed('date','dt')

In [5]:
df.show()

+----------+----------------+-------------+--------------+--------------+--------------+---------+-------------------+-----------+
|        dt|   home_teamName|away_teamName|home_scoreHome|away_scoreAway|tournamentName| cityCity|     countryCountry|neutralTRUE|
+----------+----------------+-------------+--------------+--------------+--------------+---------+-------------------+-----------+
|1872-11-30|        Scotland|      England|             0|             0|      Friendly|  Glasgow|           Scotland|      FALSE|
|1873-03-08|         England|     Scotland|             4|             2|      Friendly|   London|            England|      FALSE|
|1874-03-07|        Scotland|      England|             2|             1|      Friendly|  Glasgow|           Scotland|      FALSE|
|1875-03-06|         England|     Scotland|             2|             2|      Friendly|   London|            England|      FALSE|
|1876-03-04|        Scotland|      England|             3|             0|      Friendly|  Glasgow|           Scotland|      FALSE|
|1876-03-25|        Scotland|        Wales|             4|             0|      Friendly|  Glasgow|           Scotland|      FALSE|
|1877-03-03|         England|     Scotland|             1|             3|      Friendly|   London|            England|      FALSE|
|1877-03-05|           Wales|     Scotland|             0|             2|      Friendly|  Wrexham|              Wales|      FALSE|
|1878-03-02|        Scotland|      England|             7|             2|      Friendly|  Glasgow|           Scotland|      FALSE|
|1878-03-23|        Scotland|        Wales|             9|             0|      Friendly|  Glasgow|           Scotland|      FALSE|
|1879-01-18|         England|        Wales|             2|             1|      Friendly|   London|            England|      FALSE|
|1879-04-05|         England|     Scotland|             5|             4|      Friendly|   London|            England|      FALSE|
|1879-04-07|           Wales|     Scotland|             0|             3|      Friendly|  Wrexham|              Wales|      FALSE|
|1880-03-13|        Scotland|      England|             5|             4|      Friendly|  Glasgow|           Scotland|      FALSE|
|1880-03-15|           Wales|      England|             2|             3|      Friendly|  Wrexham|              Wales|      FALSE|
|1880-03-27|        Scotland|        Wales|             5|             1|      Friendly|  Glasgow|           Scotland|      FALSE|
|1881-02-26|         England|        Wales|             0|             1|      Friendly|Blackburn|            England|      FALSE|
|1881-03-12|         England|     Scotland|             1|             6|      Friendly|   London|            England|      FALSE|
|1881-03-14|           Wales|     Scotland|             1|             5|      Friendly|  Wrexham|              Wales|      FALSE|
|1882-02-18|Northern Ireland|      England|             0|            13|      Friendly|  Belfast|Republic of Ireland|      FALSE|
+----------+----------------+-------------+--------------+--------------+--------------+---------+-------------------+-----------+
only showing top 20 rows

In [6]:
import uuid
myuuid = uuid.uuid4()
path = ("s3a://delta-lake/demo/{}").format(myuuid)
print(path)

s3a://delta-lake/demo/4b59799f-d8e8-486d-b201-4cc6a4ae0666

In [7]:
df.write.format("delta").mode('overwrite').save(path)

In [8]:
df.printSchema()

root
 |-- dt: string (nullable = true)
 |-- home_teamName: string (nullable = true)
 |-- away_teamName: string (nullable = true)
 |-- home_scoreHome: string (nullable = true)
 |-- away_scoreAway: string (nullable = true)
 |-- tournamentName: string (nullable = true)
 |-- cityCity: string (nullable = true)
 |-- countryCountry: string (nullable = true)
 |-- neutralTRUE: string (nullable = true)

In [10]:
deltaTable = DeltaTable.forPath(spark, path)

In [18]:
type(deltaTable)

delta.tables.DeltaTable

In [15]:
d = spark.read.format("delta").load(path)

In [16]:
d.show()

+----------+----------------+-------------+--------------+--------------+--------------+---------+-------------------+-----------+
|        dt|   home_teamName|away_teamName|home_scoreHome|away_scoreAway|tournamentName| cityCity|     countryCountry|neutralTRUE|
+----------+----------------+-------------+--------------+--------------+--------------+---------+-------------------+-----------+
|1872-11-30|        Scotland|      England|             0|             0|      Friendly|  Glasgow|           Scotland|      FALSE|
|1873-03-08|         England|     Scotland|             4|             2|      Friendly|   London|            England|      FALSE|
|1874-03-07|        Scotland|      England|             2|             1|      Friendly|  Glasgow|           Scotland|      FALSE|
|1875-03-06|         England|     Scotland|             2|             2|      Friendly|   London|            England|      FALSE|
|1876-03-04|        Scotland|      England|             3|             0|      Friendly|  Glasgow|           Scotland|      FALSE|
|1876-03-25|        Scotland|        Wales|             4|             0|      Friendly|  Glasgow|           Scotland|      FALSE|
|1877-03-03|         England|     Scotland|             1|             3|      Friendly|   London|            England|      FALSE|
|1877-03-05|           Wales|     Scotland|             0|             2|      Friendly|  Wrexham|              Wales|      FALSE|
|1878-03-02|        Scotland|      England|             7|             2|      Friendly|  Glasgow|           Scotland|      FALSE|
|1878-03-23|        Scotland|        Wales|             9|             0|      Friendly|  Glasgow|           Scotland|      FALSE|
|1879-01-18|         England|        Wales|             2|             1|      Friendly|   London|            England|      FALSE|
|1879-04-05|         England|     Scotland|             5|             4|      Friendly|   London|            England|      FALSE|
|1879-04-07|           Wales|     Scotland|             0|             3|      Friendly|  Wrexham|              Wales|      FALSE|
|1880-03-13|        Scotland|      England|             5|             4|      Friendly|  Glasgow|           Scotland|      FALSE|
|1880-03-15|           Wales|      England|             2|             3|      Friendly|  Wrexham|              Wales|      FALSE|
|1880-03-27|        Scotland|        Wales|             5|             1|      Friendly|  Glasgow|           Scotland|      FALSE|
|1881-02-26|         England|        Wales|             0|             1|      Friendly|Blackburn|            England|      FALSE|
|1881-03-12|         England|     Scotland|             1|             6|      Friendly|   London|            England|      FALSE|
|1881-03-14|           Wales|     Scotland|             1|             5|      Friendly|  Wrexham|              Wales|      FALSE|
|1882-02-18|Northern Ireland|      England|             0|            13|      Friendly|  Belfast|Republic of Ireland|      FALSE|
+----------+----------------+-------------+--------------+--------------+--------------+---------+-------------------+-----------+
only showing top 20 rows

In [17]:
type(d)

pyspark.sql.dataframe.DataFrame

In [11]:
deltaTable.toDF().printSchema()

root
 |-- dt: string (nullable = true)
 |-- home_teamName: string (nullable = true)
 |-- away_teamName: string (nullable = true)
 |-- home_scoreHome: string (nullable = true)
 |-- away_scoreAway: string (nullable = true)
 |-- tournamentName: string (nullable = true)
 |-- cityCity: string (nullable = true)
 |-- countryCountry: string (nullable = true)
 |-- neutralTRUE: string (nullable = true)

In [20]:
d.filter(d.countryCountry == 'Brazil').show()

+----------+-------------+-------------+--------------+--------------+--------------+--------------+--------------+-----------+
|        dt|home_teamName|away_teamName|home_scoreHome|away_scoreAway|tournamentName|      cityCity|countryCountry|neutralTRUE|
+----------+-------------+-------------+--------------+--------------+--------------+--------------+--------------+-----------+
|1919-05-11|       Brazil|        Chile|             6|             0|  Copa América|Rio de Janeiro|        Brazil|      FALSE|
|1919-05-13|    Argentina|      Uruguay|             2|             3|  Copa América|Rio de Janeiro|        Brazil|       TRUE|
|1919-05-17|        Chile|      Uruguay|             0|             2|  Copa América|Rio de Janeiro|        Brazil|       TRUE|
|1919-05-18|       Brazil|    Argentina|             3|             1|  Copa América|Rio de Janeiro|        Brazil|      FALSE|
|1919-05-22|    Argentina|        Chile|             4|             1|  Copa América|Rio de Janeiro|        Brazil|       TRUE|
|1919-05-26|       Brazil|      Uruguay|             2|             2|  Copa América|Rio de Janeiro|        Brazil|      FALSE|
|1919-05-29|       Brazil|      Uruguay|             1|             0|  Copa América|Rio de Janeiro|        Brazil|      FALSE|
|1919-06-01|       Brazil|    Argentina|             3|             3|      Friendly|Rio de Janeiro|        Brazil|      FALSE|
|1922-09-17|       Brazil|        Chile|             1|             1|  Copa América|Rio de Janeiro|        Brazil|      FALSE|
|1922-09-23|        Chile|      Uruguay|             0|             2|  Copa América|Rio de Janeiro|        Brazil|       TRUE|
|1922-09-24|       Brazil|     Paraguay|             1|             1|  Copa América|Rio de Janeiro|        Brazil|      FALSE|
|1922-09-28|    Argentina|        Chile|             4|             0|  Copa América|Rio de Janeiro|        Brazil|       TRUE|
|1922-10-01|       Brazil|      Uruguay|             0|             0|  Copa América|Rio de Janeiro|        Brazil|      FALSE|
|1922-10-05|        Chile|     Paraguay|             0|             3|  Copa América|Rio de Janeiro|        Brazil|       TRUE|
|1922-10-08|    Argentina|      Uruguay|             0|             1|  Copa América|Rio de Janeiro|        Brazil|       TRUE|
|1922-10-12|     Paraguay|      Uruguay|             1|             0|  Copa América|Rio de Janeiro|        Brazil|       TRUE|
|1922-10-15|       Brazil|    Argentina|             2|             0|  Copa América|Rio de Janeiro|        Brazil|      FALSE|
|1922-10-18|    Argentina|     Paraguay|             2|             0|  Copa América|Rio de Janeiro|        Brazil|       TRUE|
|1922-10-22|       Brazil|     Paraguay|             3|             0|  Copa América|Rio de Janeiro|        Brazil|      FALSE|
|1922-10-22|       Brazil|    Argentina|             2|             1|     Copa Roca|     São Paulo|        Brazil|      FALSE|
+----------+-------------+-------------+--------------+--------------+--------------+--------------+--------------+-----------+
only showing top 20 rows

In [23]:
code = spark.read.csv('s3a://camada-bronze/country_code.csv',header=True)

In [24]:
code.show()

+-------------------+-------+-------+------------+-------------+--------+--------------------+-------------------+-----------+---------------+------------------------+
|               name|alpha-2|alpha-3|country-code|   iso_3166-2|  region|          sub-region|intermediate-region|region-code|sub-region-code|intermediate-region-code|
+-------------------+-------+-------+------------+-------------+--------+--------------------+-------------------+-----------+---------------+------------------------+
|        Afghanistan|     AF|    AFG|         004|ISO 3166-2:AF|    Asia|       Southern Asia|               null|        142|            034|                    null|
|      Åland Islands|     AX|    ALA|         248|ISO 3166-2:AX|  Europe|     Northern Europe|               null|        150|            154|                    null|
|            Albania|     AL|    ALB|         008|ISO 3166-2:AL|  Europe|     Southern Europe|               null|        150|            039|                    null|
|            Algeria|     DZ|    DZA|         012|ISO 3166-2:DZ|  Africa|     Northern Africa|               null|        002|            015|                    null|
|     American Samoa|     AS|    ASM|         016|ISO 3166-2:AS| Oceania|           Polynesia|               null|        009|            061|                    null|
|            Andorra|     AD|    AND|         020|ISO 3166-2:AD|  Europe|     Southern Europe|               null|        150|            039|                    null|
|             Angola|     AO|    AGO|         024|ISO 3166-2:AO|  Africa|  Sub-Saharan Africa|      Middle Africa|        002|            202|                     017|
|           Anguilla|     AI|    AIA|         660|ISO 3166-2:AI|Americas|Latin America and...|          Caribbean|        019|            419|                     029|
|         Antarctica|     AQ|    ATA|         010|ISO 3166-2:AQ|    null|                null|               null|       null|           null|                    null|
|Antigua and Barbuda|     AG|    ATG|         028|ISO 3166-2:AG|Americas|Latin America and...|          Caribbean|        019|            419|                     029|
|          Argentina|     AR|    ARG|         032|ISO 3166-2:AR|Americas|Latin America and...|      South America|        019|            419|                     005|
|            Armenia|     AM|    ARM|         051|ISO 3166-2:AM|    Asia|        Western Asia|               null|        142|            145|                    null|
|              Aruba|     AW|    ABW|         533|ISO 3166-2:AW|Americas|Latin America and...|          Caribbean|        019|            419|                     029|
|          Australia|     AU|    AUS|         036|ISO 3166-2:AU| Oceania|Australia and New...|               null|        009|            053|                    null|
|            Austria|     AT|    AUT|         040|ISO 3166-2:AT|  Europe|      Western Europe|               null|        150|            155|                    null|
|         Azerbaijan|     AZ|    AZE|         031|ISO 3166-2:AZ|    Asia|        Western Asia|               null|        142|            145|                    null|
|            Bahamas|     BS|    BHS|         044|ISO 3166-2:BS|Americas|Latin America and...|          Caribbean|        019|            419|                     029|
|            Bahrain|     BH|    BHR|         048|ISO 3166-2:BH|    Asia|        Western Asia|               null|        142|            145|                    null|
|         Bangladesh|     BD|    BGD|         050|ISO 3166-2:BD|    Asia|       Southern Asia|               null|        142|            034|                    null|
|           Barbados|     BB|    BRB|         052|ISO 3166-2:BB|Americas|Latin America and...|          Caribbean|        019|            419|                     029|
+-------------------+-------+-------+------------+-------------+--------+--------------------+-------------------+-----------+---------------+------------------------+
only showing top 20 rows

In [26]:
from delta.tables import *
from pyspark.sql.functions import *

deltaTable.alias("delta") \
  .merge(
    code.alias("code"),
    "delta.countryCountry = code.name") \
  .whenNotMatchedInsert(values = { "code": col("code.alpha-3") }) \
  .execute()

AnalysisException: cannot resolve code in INSERT clause given columns delta.dt, delta.home_teamName, delta.away_teamName, delta.home_scoreHome, delta.away_scoreAway, delta.tournamentName, delta.cityCity, delta.countryCountry, delta.neutralTRUE

In [9]:
from delta.tables import *
from pyspark.sql.functions import *

# Update every even value by adding 100 to it
deltaTable.update(
  condition = expr("id % 2 == 0"),
  set = { "id": expr("id + 100") })

# Delete every even value
deltaTable.delete(condition = expr("id % 2 == 0"))

# Upsert (merge) new data
newData = spark.range(0, 20)

deltaTable.alias("delta") \
  .merge(
    code.alias("code"),
    "delta.countryCountry = code.name") \
  .whenMatchedUpdate(set = { "id": col("newData.id") }) \
  .whenNotMatchedInsert(values = { "id": col("newData.id") }) \
  .execute()

deltaTable.toDF().show()

AnalysisException: Column 'BR' does not exist. Did you mean one of the following? [date, cityCity, neutralTRUE, away_teamName, home_teamName, away_scoreAway, countryCountry, home_scoreHome, tournamentName]; line 1 pos 0;
'DeltaUpdateTable [countryCountry#1550], ['BR], (countryCountry#1550 = Brazil)
+- Relation [date#1543,home_teamName#1544,away_teamName#1545,home_scoreHome#1546,away_scoreAway#1547,tournamentName#1548,cityCity#1549,countryCountry#1550,neutralTRUE#1551] parquet

In [6]:
data = spark.range(0, 5)
data.write.format("delta").save("s3a://tmp/delta-table")

ConnectionRefusedError: [Errno 111] Connection refused

In [3]:
spark.sql('show databases').show()

+---------+
|namespace|
+---------+
|  default|
+---------+